/* La variante de theme "blue" est activée depuis le fichier config.toml */

/* Pour les chapitres */
#chapter li p { text-align:left!important; }

/* Boite de recherche */
.searchbox { margin-top: 1rem; position: relative; border-radius: 40px;}


/** Pas scroll et réduction des marges entre les élements */
.timeline  { overflow: hidden!important; margin-bottom: 15px; }
.timeline h2 { color: white!important; }
.timeline-items { padding-top: 15px!important; }
.timeline-item { margin-bottom: 15px!important; }
.timeline-item h3 { margin-top: -10px; }
@media screen and (max-width: 1000px) {
	.timeline  h2 { margin-right: 0px!important; }
	.timeline-item { width: 80%!important; }
	.timeline::before { left: 89%!important; }
}

