* {box-sizing: border-box; }

body {padding: 0;margin: 0;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.5;color: #606c71; }
a {text-decoration: none; }
a:hover {text-decoration: underline; }

.page-header {color: #FFF;text-align: center;background-image: url(../images/fond.jpg); }
@media screen and (min-width: 64em) {.page-header {padding: 5rem 6rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) {.page-header {padding: 3rem 4rem; } }
@media screen and (max-width: 42em) {.page-header {padding: 2rem 1rem; } }

.project-name {margin-top: 0; margin-bottom: 0.1rem; color: lightsalmon; }
@media screen and (min-width: 64em) {.project-name {font-size: 4.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) {.project-name {font-size: 2.25rem; } }
@media screen and (max-width: 42em) {.project-name {font-size: 1.75rem; } }

.project-tagline {margin-bottom: 2rem;font-weight: normal;opacity: 0.7; color: lightsalmon; }
@media screen and (min-width: 64em) {.project-tagline {font-size: 2.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) {.project-tagline {font-size: 1.15rem; } }
@media screen and (max-width: 42em) {.project-tagline {font-size: 1rem; } }

/** source : https://blog.smarchal.com/avatar-en-medaillon */
div.medaillon { position: absolute; margin-left: 20px; }
@media screen and (max-width: 42em) {div.medaillon {display: none; } }
img.medaillon { 
	width: 100px; height: 152px;
    -webkit-border-radius: 60px; -moz-border-radius: 60px; border-radius: 60px;
	margin: 10px;
    border: 4px solid #ededed; box-shadow: 2px 2px 2px #888888;
}

.main-content :first-child {margin-top: 0; }
.main-content img {max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {margin-top: 2rem;margin-bottom: 1rem;font-weight: normal; }
.main-content p {margin-bottom: 1em; }
@media screen and (min-width: 64em) {.main-content {max-width: 70rem;padding: 2rem 2rem;margin: 0 auto;font-size: 1.1rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) {.main-content {padding: 2rem 2rem;font-size: 1.1rem; } }
@media screen and (max-width: 42em) {.main-content {padding: 2rem 1rem;font-size: 1rem; } }

.retour { float:right; }

.tuiles  { min-height: 240px; }
.tuile { float: left; width: 250px; height: 250px; border: solid 1px black; margin: 2px; text-align: center; font-size: 1.5rem; color: darkslateblue; }
.tuile img {max-width: 248px; max-height: 210px;}
/**.tuile-projets span { background-image:url('.'); background-position-x: -110px; background-position-y: 30px; background-repeat: no-repeat; }