<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Guillaume TALBOT</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Site de Guillaume TALBOT"/>
		<meta name="author" content="Guillaume TALBOT"/>
		<meta charset="UTF-8"/>
		
		<link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="css/github-ligh	t.css" media="screen"/>
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' />
		<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/customStaticPages.css" media="screen"/>
	</head>
	<body>

		<section class="page-header">
			<div class="medaillon"><img alt="Guillaume Talbot" class="medaillon" src="images/ID.jpg" /></div>
			<h1 class="project-name">Guillaume TALBOT</h1>
			<h2 class="project-tagline">mon code, mes outils, mes idées</h2>
		</section>

		<section class="main-content">
			<div class="tuiles">
				<div class="tuile" style="display:none"></div>
				<div class="tuile tuile-projets">
					<a href="#">
						<span>Mes projets</span>
						<img src="./images/octobiwan.jpg" alt="octobiwan"/>
					</a>
				</div>
				<div class="tuile tuile-CV">
					<a href="CV.html">
						<span>Mon CV</span>
						<br/><img src="./images/avatar.png" alt="avatar"/>
					</a>
				</div>
				<div class="tuile tuile-idees">
					<a href="/mesidees/">
						<span>Mes idées</span>
						<br/><img src="./images/opinions.jpg" alt="opinions"/>
					</a></div>
			</div>
		</section>

		<section class="site-footer">
			<span class="site-footer-credits">Tous les éléments sont libres de droits</span>
		</section>

		<script src="jquery-timelify/jquery.js"/>
		<script src="jquery-timelify/jquery.timelify.js"/>
		<script>
				$('.timeline').timelify();
		</script>
	</body>
</html>